<%- include("header") -%>

<div class="container-fluid main-content d-flex align-items-center" style="padding: 5vh;">
    <div class="row justify-content-center">
        <form action="/results" method="post">
            <% for(var i=0; i<distinctPos.length; i++) { %>
                <br>
                <h3><%=distinctPos[i]%></h3>
                <br>
                <%  found.forEach(function(item){ %>
                    <%    if(item.position == distinctPos[i]){ %>
                        <table>
                            <tr>
                                <td style="min-width: 200px;"><%=item.name%></td>
                                <td><%=item.votes%></td>
                            </tr>
                        </table>
                    <%    } %>
                <%  }) %>   
            <%  } %>
        </form>
    </div>
</div>

<%- include("footer") -%>