<%- include("header") -%>

<div class="container-fluid main-content d-flex align-items-center" style="min-height: 75vh;">
    <div class="row justify-content-center">
        <form action="/results" method="post">
            <% for(var i=0; i<distinctPos.length; i++) { %>
                <h3><%=distinctPos[i]%></h3>
                <%  found.forEach(function(item){ %>
                    <%    if(item.position == distinctPos[i]){ %>
                            <input type="radio" value="<%=item._id%>" name="<%=i%>" id="" checked="checked"><%=item.name%><br>
                    <%    } %>
                <%  }) %>   
            <%  } %>
            <input type="submit" value="Submit Votes">
        </form>
    </div>
</div>

<%- include("footer") -%>